#root {
  width: clamp(450px, 80%, 1280px);
  margin: 0 auto;
  padding: 0 2rem;
  min-height: 100vh;
  box-sizing: border-box;
}

.read-the-docs {
  color: #888;
}

.navbar{
  display: flex;
  height: 100px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.logo-container{
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  height: min-content;
}
img {
  display: block;
}
.nav-items{
  margin-right: 45px;
}
.nav-items ul {
  display: flex;
  gap: 10px;
}

/*  */
#home-page{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  aspect-ratio: 3/2;
  max-height: 650px;
}
.creative{
  border-radius: 50px;
  overflow: hidden;
}

.creative img{
  object-fit:cover;
  height: 100%;;
  width: 100%;
}

.image-caroussel{
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr) 1fr;
  grid-template-rows: 1fr;
  min-height: 200px;
  border: 1px solid blue;
  position: relative;
}
.image-caroussel .button-wrapper{
  height: 20px;
  width: 50%;
  border: 1px solid black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.image-caroussel .button-wrapper ul{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
}
.image-caroussel .button-wrapper ul li{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-caroussel .direct {
  position: absolute;
  border: 1px dashed blue;
  width: 40px;
  height: 100%;
}
.image-caroussel .direct.right {
  position: absolute;
  right: 0;
  border: 1px dashed blue;
  width: 40px;
  height: 100%;
}


/*  */


#shop-page{
  display: grid;
  grid-template-columns: 250px 1fr;
  transition: grid-template-columns 0.3s ease-out;
}

#shop-page.sidebar-open{
  grid-template-columns: 250px 1fr;
}
#shop-page.sidebar-closed{
  grid-template-columns: 50px 1fr;
}

.card-grid-container{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.card{
  width: 100%;
  aspect-ratio: 2/3;
  padding: 20px;
  box-sizing:border-box;
  background-color: #d6d6d6;
  border-radius: 20px;
  overflow: hidden;
}
.card .visual{
  width: 100%;
  aspect-ratio: 1;

}
.card .visual img {
  width: 100%;
  height: 100%;
  object-fit:contain;
  border-radius: 8px;
}
.card .price{
  color: red;
  font-weight: 700;
}
.card .name h4{
  margin: 0;
}